body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

#input-el {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

#input-btn {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}

#input-btn:hover {
    background: blue;
    font-weight: bolder;
}

#ul-el {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

#ul-el li {
    margin-top: 5px;
}

#ul-el li a {
    color: #5f9341;
    font-style: italic;
}
